<div class="row">
    <div class="col-6">
        <app-donut
            title="Type of Sales"
            [labels]="labels1"
            [data]="data1"
        ></app-donut>
    </div>
    <div class="col-6">
        <app-donut
            title="Product"
            [labels]="labels2"
            [data]="data2"
        ></app-donut>
    </div>
    <div class="col-6">
        <app-donut
            title="Sauce"
            [labels]="labels3"
            [data]="data3"
        ></app-donut>
    </div>
    <div class="col-6">
        <app-donut
            title="Drink"
            [labels]="labels4"
            [data]="data4"
        ></app-donut>
    </div>
</div>